body{
    text-align: start;
}

#banner{
background-image: url(../img/pattern.png);
background-size: 80%;
background-color: rgb(78, 160, 255);
}

h1 {
    display: inline;
}

.grey{
color: rgb(172, 172, 172);
}

h3{
    display: inline;
}

#author{
color:rgb(118, 202, 239);

}

h5 {
    display: inline
}

